@    using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<SearchViewModel>

@    using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
    using smdaProject.Models;
@{
	Layout = "Master.cshtml";
}


<form action="@Modal.Url" method="get">
<input type="text" placeholder="Search" name="query"/>
<button type="submit" class="search-button">Search</button>
</form> 
                    
            <div>
            @if (Model.SearchResults.Any())
            {
                <ul>
                    @foreach (var content in Model.SearchResults)
                    {
                        <li>
                            <a href="@content.Url()">@content.Name</a>
                        </li>
                    }
                </ul>
            }
            else if (Model.HasSearched)
            {
                <p>No results found</p>
            }
            </div>